root {
    --just-black: #000000;
    --just-white: #FFFFFF;
    --principal-font: 'Rubik', sans-serif;
    --secundary-font: 'Roboto', sans-serif;
    
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px 0 40px;
    margin-bottom: 24px;
}

header nav .logo img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    
}
header nav .btn-header button{
    border: 1px solid black;
    font-family: 'Rubik', sans-serif;
    color: black;
    background-color: transparent;
    border-radius: 8px;
    width: 100px;
    height: 40px;
    cursor: pointer;
}

header nav .btn-header button:hover {
    background-color: #000000;
    color: #FFFFFF;
}
main .container-title{
    margin-top: 24px;
    margin-bottom: 48px;
}
main .container-title h2{
    font-family: 'Rubik', sans-serif;
    font-size: 36px;
    text-align: center;
}

main .container-title p {
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 28px;
}

main .main-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    margin: 0 auto;
    gap: 20px;
   max-width: 1259px;

}
main .t-content{
    width: 300px;
    height: 350px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
main .t-content-triangle{
    width: 300px;
    height: auto;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

main .t-content .title--t{
    display: flex;
    place-items: center;
    margin: 12px 0 8px 24px;
}
.icon--t {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
main .t-content .title--t i {
    margin-right: 8px;
}

main .t-content .title--t h2 {
    font-family:'Rubik', sans-serif;
    font-weight: 300;
}

main .t-content .form-container form{
    margin: 12px 0 8px 24px;
    
}
main .t-content .form-container form label {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    
}
main .t-content .form-container form input {
    margin: 18px 10px 26px 0;
    border: 1px solid black;
    border-radius: 7px;
    height: 35px;
    
}
main .t-content .form-container .input--t{
    position: relative;
}
main .t-content .form-container .input--t .put--t-n1 {
    position: absolute;
    top: 5px;
    background-color: white;
    font-size: 15px;
    font-family:'Roboto', sans-serif;
    padding: 3px;
    margin: 0;
}

main .t-content .form-container .input--t .put--t-n2 {
    position: relative;
    font-size: 15px;
    font-family:'Roboto', sans-serif;
    left: -219px;
    top: 50px;
    background-color: white;
    padding: 0 3px 0 3px;
    margin: 0;
}
main .t-content .form-container .input--t .put--t-n3 {
    position: relative;
    font-size: 15px;
    font-family:'Roboto', sans-serif;
    left: -218px;
    top: 50px;
    background-color: white;
    padding: 0 3px 0 3px;
    margin: 0;
}
main .t-content .form-container .input--t .put--t-n4{
    position: relative;
    font-size: 15px;
    font-family:'Roboto', sans-serif;
    left: -218px;
    top: 50px;
    background-color: white;
    padding: 0 3px 0 3px;
    margin: 0;
}
main .t-content-triangle .form-container form input{
    margin: 16px 10px 14px 0;
}

main .t-content .form-container form span {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
main .t-content .form-container form button {
    height: 40px;
    width: 120px;
    margin-right: 8px;
    border-radius: 14px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;

}

main .t-content .form-container form button:hover{
    background-color: #000000;
    color: white;
}

main .t-content  .answer, .answer-triangle{
    width: 250px;
    height: 40px;
    margin: 24px auto 0 auto;
    border: 1px solid black;
    border-radius: 14px;
    display: flex;
    place-content: center;
    align-items: center;
    
}

main .t-content .answer-triangle{
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
}

main .t-content  .answer span{
   font-size: 20px;
   font-weight: bold;
   font-family: 'Titillium Web', sans-serif;
}

.main-content-footer {
    display: flex;
    place-items: center;
    place-content: center;
    margin-top: 130px;
    width: 100%;
    height: 150px;
    background-color: black;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.main-content-footer a {
    color: white;
}

.main-content-footer a:hover{
    color: #072251;
}
