
:root {
    --just-black: #000000;
    --just-white: #FFFFFF;
    --principal-font: 'Rubik', sans-serif;
    --secundary-font: 'Roboto', sans-serif;
    
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url("../assets/images/background-image-home.png");
    background-repeat: no-repeat;
    background-size: auto;
    height: 100%;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px 0 40px;
    margin-bottom: 24px;
}

header nav .logo img {
    width: 40px;
    height: 45px;
    object-fit: cover;
    
}
header nav .btn-header button{
    border: 1px solid white;
    font-family: var(--secundary-font);
    color: white;
    background-color: transparent;
    border-radius: 8px;
    width: 100px;
    height: 40px;
    cursor: pointer;
}

header nav .btn-header button:hover {
    box-shadow: 0 0 10px #CC0361, 0 0 40px #CC0361, 0 0 80px #CC0361;
}

/* MAIN */

.container-fsection {
    display: grid;
    grid-template-rows: 1fr 200px;
    gap: 20px;
    place-items: center;
}
.container-fsection h1 {
    color: white;
    font-family: var(--principal-font);
    font-size: 50px;
    text-align: center;
}
.container-fsection .geometric-icons--fsection{
    position: relative;
    width: 300px;
    height: 240px;
    
}
.container-fsection .geometric-icons--fsection img {
    width: 180px;
    height: 180px;
    position: absolute;
}
.container-fsection .geometric-icons--fsection img:nth-child(1){
    left: -10px;
    
    
}
.container-fsection .geometric-icons--fsection img:nth-child(2){
    left: 120px;
    z-index: -1;
    
}
.container-fsection .geometric-icons--fsection img:nth-child(3){
    top: 25px;
    left: 30px;
    width: 240px;
    height: 240px;
}
.container-fsection .btn-container .btn-home {
    margin: 36px 0 36px 0;
    height: 48px;
    width: 128px;
    border-radius: 20px;
    border: none;
    font-family: var(--secundary-font);
    cursor: pointer;
    

}

.container-fsection .btn-home:hover {
    box-shadow: 0 0 10px #CC0361, 0 0 40px #CC0361, 0 0 80px #CC0361;
}


/* ABOUT STYLES */

.card-about{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;


}

.card-about .card--container{
    width: 329px;
    height: 545px;
    background-color: var(--just-white);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    place-items: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    
}

.card-about .card--container .main-img{
    width: 100%;
    object-fit: contain;
    border-bottom: 1px solid red;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;

}
.card-about .card--container .profile-photo{
    position: relative;
}

.card-about .card--container .profile-photo img{
    position: absolute;
    top: -45px;
    left: -40px;
    width: 80px;
    border: 1px solid red;
    border-radius: 50%;
}
.card-about .card--container .profile-name{
    margin-bottom: 24px;
}
.card-about .card--container .profile-name h2 {
    font-family: var(--principal-font);
    margin: 45px 0 4px 0;
}

.card-about .card--container .profile-name span{
    display: flex;
    justify-content: center;
    font-family: var(--secundary-font);
    color: red;
    font-weight: 300;
    
}

.card-about .card--container .about-txt{
    text-align: center;
    font-family: var(--secundary-font);
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 30px;
    width: 304px;
}
.card-about .card--container .about-txt p{
    margin: 0;
}

.card-about .card--container .social-media img{
    width: 48px;
    padding: 10px;
}
